# Project 2: Data Profiling and Preparation

### Project Objectives
> Analyze business data using methods to determine the nature of the data for cleansing purposes <br>
> Practice how to clean data to address missing, bad, or inaccurate data <br>
> Practice data accessing to implement dataset importing and exporting

##### Project 2: Data Profiling and Preparation
MISM 6205: Data Wrangling for Business <br>
Prof. Tareq Nasralah <br>
Austin Roth-Eagle, David Martin, Zachary Errichetti

## 1. Conduct Data Access and Profiling
1. To begin, read the survey dataset into a pandas DataFrame.
2. Then, create a subset of the DataFrame to include only passenger satisfaction data about the Business Class. Name the created DataFrame subset “df_Business”.
3. Collect information about the “df_Business” dataset and its validity. Report the following: 

> 1. The number of observations (or rows) and the number of variables (or columns) in the dataset.
2. The name and data type of each data column.
3. The unique values of each column.
4. The number of missing values of each column.
5. Summary statistics for each data column.
6. Frequency distribution (list the number of times each unique value appears) for each data column.
7. The number of fully duplicated data rows.
            
Based on the information that you collected, provide a list of the issues that the data contains as an annotation

### Read the survey dataset into a pandas DataFrame.

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('mode.chained_assignment',None)

In [3]:
df = pd.read_csv('Passengers_Satisfaction_Survey (1).csv')
df

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Food and drink,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
0,Male,Loyal Customer,69.0,Personal Travel,Business,-5421.0,3.0,2.0,3,5,1.0,1,3.0,14.0,0.0,Dissatisfied
1,Male,Disloyal Customer,20.0,Business travel,Eco,0.0,3.0,3.0,3,2,10.0,4,2.0,0.0,0.0,dissatisfied
2,Male,Disloyal Customer,41.0,Business travel,Business,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
3,Male,Loyal Customer,52.0,Business travel,Business,0.0,2.0,4.0,4,1,2.0,2,4.0,0.0,6.0,Dissatisfied
4,Female,Disloyal Customer,21.0,Business travel,Business,0.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104905,Male,Loyal Customer,45.0,Business travel,Business,3305.0,2.0,2.0,2,3,4.0,4,3.0,8.0,0.0,satisfied
104906,Female,Loyal Customer,35.0,Business travel,Business,337.0,5.0,5.0,5,2,4.0,4,5.0,54.0,40.0,satisfied
104907,Male,Loyal Customer,47.0,Business travel,Business,3496.0,2.0,2.0,2,2,5.0,5,4.0,0.0,2.0,satisfied
104908,Male,Loyal Customer,42.0,Business travel,Business,3605.0,4.0,4.0,4,3,4.0,4,3.0,0.0,0.0,satisfied
104909,Female,disloyal,0.0,Business travel,Business,862.0,5.0,5.0,5,5,5.0,1,5.0,9.0,5.0,neutral

### Create a subset of the DataFrame to include only passenger satisfaction data about the Business Class. Name the created DataFrame subset “df_Business”.

In [4]:
df_Business = df[(df["Class"] == "Business")]
df_Business

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Food and drink,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
0,Male,Loyal Customer,69.0,Personal Travel,Business,-5421.0,3.0,2.0,3,5,1.0,1,3.0,14.0,0.0,Dissatisfied
2,Male,Disloyal Customer,41.0,Business travel,Business,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
3,Male,Loyal Customer,52.0,Business travel,Business,0.0,2.0,4.0,4,1,2.0,2,4.0,0.0,6.0,Dissatisfied
4,Female,Disloyal Customer,21.0,Business travel,Business,0.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
5,Female,Loyal Customer,57.0,Business travel,Business,0.0,3.0,4.0,4,5,2.0,3,2.0,0.0,0.0,Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104905,Male,Loyal Customer,45.0,Business travel,Business,3305.0,2.0,2.0,2,3,4.0,4,3.0,8.0,0.0,satisfied
104906,Female,Loyal Customer,35.0,Business travel,Business,337.0,5.0,5.0,5,2,4.0,4,5.0,54.0,40.0,satisfied
104907,Male,Loyal Customer,47.0,Business travel,Business,3496.0,2.0,2.0,2,2,5.0,5,4.0,0.0,2.0,satisfied
104908,Male,Loyal Customer,42.0,Business travel,Business,3605.0,4.0,4.0,4,3,4.0,4,3.0,0.0,0.0,satisfied
104909,Female,disloyal,0.0,Business travel,Business,862.0,5.0,5.0,5,5,5.0,1,5.0,9.0,5.0,neutral

### 1. The number of observations (or rows) and the number of variables (or columns) in the dataset.

In [5]:
df_Business.shape

(50000, 16)

### 2. The name and data type of each data column.

In [6]:
df_Business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 104909
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             48239 non-null  object
 1   Customer Type                      48239 non-null  object
 2   Age                                47373 non-null  float64
 3   Type of Travel                     48239 non-null  object
 4   Class                              50000 non-null  object
 5   Flight Distance                    46604 non-null  float64
 6   Inflight wifi service              48239 non-null  float64
 7   Departure/Arrival time convenient  48239 non-null  float64
 8   Ease of Online booking             42705 non-null  object
 9   Food and drink                     42705 non-null  object
 10  Inflight entertainment             43649 non-null  float64
 11  Baggage handling                   43649 non-null  object
 12  Cleanliness                        43649 non-null  float64
 13  Departure Delay in Minutes         43649 non-null  float64
 14  Arrival Delay in Minutes           42098 non-null  float64
 15  Satisfaction                       47840 non-null  object
dtypes: float64(8), object(8)
memory usage: 6.5+ MB

#### Each Column name and Dataype:

|  Column                            | Dtype  
|  :------                           |   -----:
|  Gender                            |   object  
|  Customer Type                     |   object 
|  Age                               |   float64 
|  Type of Travel                    |   object 
|  Class                             |   object 
|  Flight Distance                   |   float64
|  Inflight wifi service             |   float64 
|  Departure/Arrival time convenient |   float64  
|  Ease of Online booking            |   object 
|  Food and drink                    |   object  
|  Inflight entertainment            |   float64 
|  Baggage handling                  |   object  
|  Cleanliness                       |   float64 
|  Departure Delay in Minutes        |   float64 
|  Arrival Delay in Minutes          |   float64  
|  Satisfaction                      |   object

### 3. The unique values of each column.

In [7]:
df_Business.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Food and drink', 'Inflight entertainment', 'Baggage handling',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'Satisfaction'],
      dtype='object')

In [8]:
cols = df_Business.columns

# for each column
for col in cols:
    print(col)

    # get a list of unique values
    unique = df_Business[col].unique()
    print(unique, '\n---------------------------------------\n\n')

Gender
['Male' 'Female' 'F' 'M' nan]
---------------------------------------


Customer Type
['Loyal Customer' 'Disloyal Customer' nan 'disloyal' 'Loyal']
---------------------------------------


Age
[ 69.  41.  52.  21.  57.  45.  39.  33.  10.  55.  59.  53.  56.  47.
  54.  25.  51.  60.  27.  43.  20.  19.  63.  50.  nan  38.  46.  85.
  26.  42.  30.  24.  22.  17.  48.  40.  16.  32.  35.  44.  49.  65.
  67.  66.  64.   7.  37.  36.  15.  62.  34.   0.  68.  70.  58.  11.
  74.  13.  80.  75.   9.  61.  71.  12.  73.  72.  18.  79.   8.  76.
  14.  77.  78. 180. 185.]
---------------------------------------


Type of Travel
['Personal Travel' 'Business travel' 'Business' nan]
---------------------------------------


Class
['Business']
---------------------------------------


Flight Distance
[-5.421e+03  0.000e+00  5.600e+01 ...  4.983e+03  2.820e+06  9.000e+06]
---------------------------------------


Inflight wifi service
[ 3.  1.  2.  4.  0.  5. nan]
---------------------------------------


Departure/Arrival time convenient
[ 2.  1.  4.  0.  5.  3. nan]
---------------------------------------


Ease of Online booking
['3' nan '4' '0' '5' 'Unknown' '2' '1']
---------------------------------------


Food and drink
['5' nan '1' '3' 'Great' '4' '2' '0']
---------------------------------------


Inflight entertainment
[ 1. nan  2.  3.  4.  5. 10.  0.]
---------------------------------------


Baggage handling
['1' nan '2' '3' '5' '4' 'A']
---------------------------------------


Cleanliness
[ 3. nan  4.  2.  5.  0.]
---------------------------------------


Departure Delay in Minutes
[ 1.400e+01        nan  0.000e+00 -2.000e+00  1.000e+01  3.600e+01
  9.000e+00  3.500e+01  7.000e+00  1.100e+01  6.100e+01  2.000e+01
  1.160e+02  2.600e+01  1.300e+01  5.000e+01  7.100e+01  2.700e+01
  2.500e+01  6.000e+00  1.500e+01  3.200e+01  1.130e+02  1.000e+00
  3.000e+00  4.600e+01  4.200e+01  2.100e+01  4.300e+01  1.140e+02
  3.400e+01  2.300e+01  8.000e+00  5.000e+00  4.900e+01  7.600e+01
  3.700e+01  2.900e+01  1.340e+02  2.800e+01  1.900e+01  5.700e+01
  6.400e+01  2.000e+00  4.550e+02  1.230e+02  1.220e+02  4.000e+00
  1.010e+02  3.100e+01  3.900e+01  1.400e+02  8.900e+01  4.000e+01
  1.800e+01  2.400e+01  2.200e+01  1.110e+02  1.630e+02  9.300e+01
  1.600e+01  3.000e+01  4.700e+01  6.300e+01  1.700e+01  8.400e+01
  6.500e+01  4.500e+01  6.000e+01  7.700e+01  1.200e+01  3.800e+01
  1.610e+02  8.000e+01  7.400e+01  1.560e+02  3.300e+01  1.050e+02
  9.500e+01  8.800e+01  1.260e+02  1.950e+02  9.400e+01  4.800e+01
  1.060e+02  2.490e+02  7.800e+01  9.600e+01  7.200e+01  1.040e+02
  1.070e+02  1.720e+02  1.360e+02  4.400e+01  9.800e+01  8.700e+01
  9.100e+01  3.300e+02  5.800e+01  7.000e+01  1.250e+02  1.350e+02
  3.240e+02  6.800e+01  5.300e+01  1.200e+02  5.500e+01  5.900e+01
  9.700e+01  1.490e+02  5.200e+01  1.180e+02  5.600e+01  8.200e+01
  1.080e+02  1.520e+02  6.200e+01  2.100e+02  1.570e+02  5.400e+01
  1.470e+02  8.300e+01  1.380e+02  1.420e+02  1.280e+02  4.100e+01
  1.240e+02  2.000e+02  2.210e+02  8.100e+01  8.500e+01  1.100e+02
  7.300e+01  2.620e+02  6.600e+01  2.650e+02  8.600e+01  1.670e+02
  5.100e+01  1.580e+02  2.060e+02  1.680e+02  1.210e+02  2.420e+02
  1.990e+02  6.900e+01  6.700e+01  2.090e+02  1.410e+02  1.620e+02
  9.900e+01  7.500e+01  1.700e+02  1.830e+02  1.480e+02  4.020e+02
  1.800e+02  2.530e+02  1.510e+02  1.270e+02  2.520e+02  1.120e+02
  3.280e+02  1.840e+02  1.910e+02  7.900e+01  2.040e+02  2.550e+02
  2.820e+02  1.170e+02  2.400e+02  1.430e+02  1.590e+02  1.870e+02
  1.320e+02  1.000e+02  1.640e+02  2.380e+02  2.980e+02  1.850e+02
  2.760e+02  9.200e+01  1.710e+02  1.290e+02  1.190e+02  2.010e+02
  1.740e+02  6.920e+02  1.460e+02  1.780e+02  1.150e+02  1.540e+02
  9.000e+01  1.530e+02  1.370e+02  1.970e+02  1.750e+02  1.300e+02
  1.440e+02  1.960e+02  2.580e+02  2.270e+02  1.020e+02  2.030e+02
  3.590e+02  2.440e+02  1.900e+02  1.090e+02  3.260e+02  3.210e+02
  1.500e+02  3.510e+02  2.450e+02  2.720e+02  1.810e+02  2.110e+02
  2.160e+02  3.470e+02  1.310e+02  1.450e+02  3.830e+02  9.210e+02
  1.600e+02  1.660e+02  1.860e+02  1.650e+02  2.050e+02  3.360e+02
  1.930e+02  1.730e+02  4.300e+02  2.350e+02  1.820e+02  1.790e+02
  1.880e+02  2.740e+02  4.010e+02  1.940e+02  3.530e+02  2.190e+02
  3.030e+02  2.970e+02  1.030e+02  2.410e+02  2.120e+02  1.920e+02
  2.140e+02  2.330e+02  2.070e+02  1.390e+02  4.350e+02  1.330e+02
  6.100e+02  2.790e+02  3.100e+02  2.080e+02  3.060e+02  2.240e+02
  3.680e+02  2.480e+02  1.550e+02  2.590e+02  2.660e+02  3.380e+02
  2.670e+02  2.910e+02  2.180e+02  3.180e+02  2.150e+02  2.710e+02
  2.930e+02  2.130e+02  2.690e+02  2.850e+02  3.090e+02  4.520e+02
  3.220e+02  2.320e+02  4.230e+02  3.940e+02  2.920e+02  1.760e+02
  2.230e+02  2.860e+02  2.750e+02  3.330e+02  1.690e+02  2.460e+02
  2.730e+02  2.390e+02  4.800e+02  3.810e+02  3.020e+02  8.590e+02
  2.260e+02  2.900e+02  5.030e+02  1.890e+02  2.360e+02  1.770e+02
  3.420e+02  1.980e+02  3.070e+02  2.020e+02  2.640e+02  3.700e+02
  1.017e+03  4.650e+02  2.810e+02  4.630e+02  2.250e+02  9.330e+02
  3.170e+02  4.100e+02  4.070e+02  2.940e+02  3.570e+02  2.870e+02
  9.300e+02  3.040e+02  3.480e+02  3.400e+02  4.440e+02  2.770e+02
  4.290e+02  2.500e+02  3.190e+02  3.120e+02  3.130e+02  3.880e+02
  2.680e+02  4.150e+02  4.540e+02  3.920e+02  1.305e+03  2.290e+02
  2.200e+02  2.430e+02  4.500e+02  3.500e+02  2.220e+02  3.340e+02
  2.990e+02  2.170e+02  3.080e+02  3.440e+02  3.200e+02  5.010e+02
  4.380e+02  3.520e+02  3.580e+02  2.560e+02  2.600e+02  3.410e+02
  3.310e+02  2.890e+02  3.710e+02  2.280e+02  8.530e+02]
---------------------------------------


Arrival Delay in Minutes
[ 0.000e+00        nan  6.000e+00  2.100e+01  1.200e+01  1.600e+01
  8.000e+00  4.900e+01  3.600e+01  6.500e+01  1.000e+01  1.070e+02
  1.030e+02  9.000e+00  1.800e+01  4.300e+01 -4.500e+01  6.600e+01
  2.500e+01  1.300e+01  2.400e+01  1.050e+02  1.400e+01  7.000e+00
  5.700e+01  2.900e+01  3.900e+01  1.200e+02  6.300e+01  2.700e+01
  3.000e+00  2.200e+01  2.800e+01  1.000e+00  5.900e+01  2.000e+00
  7.000e+01  4.000e+00  3.000e+01  1.900e+01  1.500e+01  1.290e+02
  4.400e+01  5.200e+01  2.100e+02  1.240e+02  1.190e+02  5.000e+00
  4.200e+01  3.300e+01  9.800e+01  3.400e+01  3.100e+01  4.800e+01
  1.560e+02  8.400e+01  2.000e+01  4.600e+01  5.300e+01  1.210e+02
  1.100e+02  1.700e+01  1.570e+02  8.700e+01  3.800e+01  4.000e+01
  9.900e+01  3.200e+01  5.500e+01  6.900e+01  4.100e+01  8.300e+01
  6.700e+01  9.600e+01  6.000e+01  4.500e+01  7.800e+01  2.600e+01
  2.300e+01  3.700e+01  1.710e+02  7.100e+01  8.100e+01  1.680e+02
  8.000e+01  3.500e+01  8.900e+01  1.100e+01  8.500e+01  2.000e+02
  7.300e+01  9.300e+01  6.400e+01  1.040e+02  5.000e+01  2.480e+02
  1.220e+02  1.170e+02  9.700e+01  1.630e+02  1.350e+02  1.460e+02
  1.400e+02  6.800e+01  7.200e+01  1.280e+02  3.480e+02  7.700e+01
  1.340e+02  9.400e+01  1.330e+02  3.230e+02  1.150e+02  7.400e+01
  5.800e+01  9.100e+01  1.770e+02  1.250e+02  1.380e+02  2.060e+02
  1.000e+02  5.400e+01  2.590e+02  7.500e+01  1.610e+02  1.370e+02
  1.310e+02  2.330e+02  2.170e+02  1.300e+02  1.420e+02  1.010e+02
  1.540e+02  2.560e+02  1.120e+02  4.700e+01  6.200e+01  2.600e+02
  1.940e+02  2.090e+02  1.180e+02  9.200e+01  2.280e+02  7.900e+01
  1.500e+02  1.880e+02  7.600e+01  1.530e+02  1.390e+02  9.000e+01
  2.460e+02  9.500e+01  6.100e+01  2.030e+02  1.430e+02  1.580e+02
  1.740e+02  1.870e+02  5.600e+01  5.100e+01  3.890e+02  1.060e+02
  2.570e+02  1.690e+02  2.240e+02  1.950e+02  2.750e+02  8.800e+01
  1.090e+02  3.300e+02  1.800e+02  1.730e+02  8.600e+01  1.130e+02
  1.360e+02  2.020e+02  2.550e+02  3.050e+02  2.250e+02  8.200e+01
  1.480e+02  1.160e+02  1.860e+02  1.260e+02  2.040e+02  2.870e+02
  1.810e+02  1.470e+02  1.760e+02  2.930e+02  2.080e+02  1.590e+02
  1.270e+02  7.020e+02  1.850e+02  1.670e+02  1.020e+02  1.230e+02
  1.650e+02  1.820e+02  2.950e+02  1.520e+02  1.910e+02  1.640e+02
  2.180e+02  2.620e+02  2.680e+02  1.080e+02  3.790e+02  1.930e+02
  2.400e+02  3.660e+02  1.920e+02  1.720e+02  3.600e+02  3.360e+02
  2.980e+02  2.300e+02  2.670e+02  1.490e+02  1.140e+02  1.320e+02
  1.410e+02  1.830e+02  1.960e+02  2.310e+02  3.590e+02  2.290e+02
  3.860e+02  9.240e+02  2.130e+02  2.660e+02  1.450e+02  2.160e+02
  1.510e+02  2.350e+02  3.270e+02  1.780e+02  1.600e+02  2.320e+02
  4.380e+02  2.430e+02  1.700e+02  2.630e+02  4.040e+02  2.840e+02
  2.490e+02  1.980e+02  3.020e+02  2.900e+02  1.840e+02  2.270e+02
  2.120e+02  1.620e+02  2.230e+02  4.700e+02  1.550e+02  5.930e+02
  3.090e+02  2.990e+02  3.070e+02  3.570e+02  2.610e+02  2.190e+02
  3.040e+02  1.990e+02  2.920e+02  1.750e+02  3.010e+02  2.540e+02
  1.110e+02  2.580e+02  2.530e+02  2.700e+02  2.650e+02  2.850e+02
  2.500e+02  4.440e+02  4.030e+02  4.070e+02  3.340e+02  3.310e+02
  2.470e+02  2.640e+02  2.340e+02  2.210e+02  2.770e+02  3.800e+02
  1.890e+02  2.510e+02  3.080e+02  2.380e+02  2.520e+02  4.710e+02
  4.360e+02  3.190e+02  8.600e+02  2.780e+02  3.170e+02  5.070e+02
  1.660e+02  3.850e+02  2.050e+02  2.220e+02  1.011e+03  4.930e+02
  5.030e+02  2.810e+02  3.370e+02  9.200e+02  1.440e+02  1.790e+02
  3.240e+02  2.370e+02  2.720e+02  4.350e+02  4.090e+02  2.830e+02
  3.620e+02  2.890e+02  9.520e+02  2.880e+02  1.900e+02  3.000e+02
  3.210e+02  3.410e+02  2.010e+02  4.340e+02  3.920e+02  4.170e+02
  2.710e+02  3.200e+02  2.360e+02  4.100e+02  5.020e+02  3.810e+02
  1.280e+03  2.110e+02  2.970e+02  2.440e+02  3.880e+02  2.420e+02
  3.180e+02  3.700e+02  2.070e+02  3.830e+02  3.130e+02  2.260e+02
  1.970e+02  3.930e+02  5.000e+02  3.220e+02  3.350e+02  2.740e+02
  2.140e+02  2.200e+02  2.450e+02  2.790e+02  2.960e+02  3.390e+02
  3.160e+02  8.230e+02]
---------------------------------------


Satisfaction
['Dissatisfied' 'neutral' 'satisfied' 'dissatisfied' nan]
---------------------------------------

### 4. The number of missing values of each column.

In [9]:
df_Business.isnull().sum()

Gender                               1761
Customer Type                        1761
Age                                  2627
Type of Travel                       1761
Class                                   0
Flight Distance                      3396
Inflight wifi service                1761
Departure/Arrival time convenient    1761
Ease of Online booking               7295
Food and drink                       7295
Inflight entertainment               6351
Baggage handling                     6351
Cleanliness                          6351
Departure Delay in Minutes           6351
Arrival Delay in Minutes             7902
Satisfaction                         2160
dtype: int64

### 5. Summary statistics for each data column.

In [10]:
df_Business.describe(include='all')

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Food and drink,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
count,48239,48239,47373.000000,48239,50000,4.660400e+04,48239.000000,48239.000000,42705,42705,43649.000000,43649,43649.000000,43649.000000,42098.000000,47840
unique,4,4,NaN,3,1,NaN,NaN,NaN,7,7,NaN,6,NaN,NaN,NaN,4
top,Female,Loyal Customer,NaN,Business travel,Business,NaN,NaN,NaN,3,4,NaN,4,NaN,NaN,NaN,satisfied
freq,23001,40770,NaN,44063,50000,NaN,NaN,NaN,8635,10890,NaN,17056,NaN,NaN,NaN,30400
mean,NaN,NaN,41.853186,NaN,NaN,1.934737e+03,2.774519,2.910695,NaN,NaN,3.835391,NaN,3.737520,13.595363,13.059647,NaN
std,NaN,NaN,13.730683,NaN,NaN,4.369344e+04,1.423917,1.501711,NaN,NaN,1.233508,NaN,0.987664,36.595048,38.116530,NaN
min,NaN,NaN,0.000000,NaN,NaN,-5.421000e+03,0.000000,0.000000,NaN,NaN,0.000000,NaN,0.000000,-2.000000,-45.000000,NaN
25%,NaN,NaN,34.000000,NaN,NaN,5.940000e+02,2.000000,2.000000,NaN,NaN,3.000000,NaN,3.000000,0.000000,0.000000,NaN
50%,NaN,NaN,43.000000,NaN,NaN,1.597000e+03,3.000000,3.000000,NaN,NaN,4.000000,NaN,4.000000,0.000000,0.000000,NaN
75%,NaN,NaN,52.000000,NaN,NaN,2.565000e+03,4.000000,4.000000,NaN,NaN,5.000000,NaN,5.000000,10.000000,11.000000,NaN
max,NaN,NaN,185.000000,NaN,NaN,9.000000e+06,5.000000,5.000000,NaN,NaN,10.000000,NaN,5.000000,1305.000000,1280.000000,NaN

### 6. Frequency distribution (list the number of times each unique value appears) for each data column.

In [11]:
cols = df.columns
for col in cols:
    print(col)
    value_counts = df[col].value_counts()
    print(value_counts, '\n\n-------------------------------------------------')

Gender
Female    49211
Male      47963
M          2055
F          1361
Name: Gender, dtype: int64

-------------------------------------------------
Customer Type
Loyal Customer       81964
Disloyal Customer    16891
disloyal              1730
Loyal                    5
Name: Customer Type, dtype: int64

-------------------------------------------------
Age
39.0     2995
25.0     2829
40.0     2596
44.0     2508
41.0     2482
         ...
78.0       35
85.0       17
150.0       2
180.0       1
185.0       1
Name: Age, Length: 76, dtype: int64

-------------------------------------------------
Type of Travel
Business travel    64845
Personal Travel    30616
Business            5129
Name: Type of Travel, dtype: int64

-------------------------------------------------
Class
Business    50000
Eco         47313
Eco Plus     7597
Name: Class, dtype: int64

-------------------------------------------------
Flight Distance
337.0        603
404.0        372
594.0        352
447.0        340
2475.0       333
            ...
1339.0         1
1336.0         1
1330.0         1
1328.0         1
9000000.0      1
Name: Flight Distance, Length: 3779, dtype: int64

-------------------------------------------------
Inflight wifi service
3.0    25125
2.0    25009
4.0    19163
1.0    17292
5.0    11078
0.0     2923
Name: Inflight wifi service, dtype: int64

-------------------------------------------------
Departure/Arrival time convenient
4.0    24835
5.0    21779
3.0    17393
2.0    16591
1.0    15065
0.0     4927
Name: Departure/Arrival time convenient, dtype: int64

-------------------------------------------------
Ease of Online booking
3          21333
2          20919
4          17047
1          15398
5          12036
0           3816
Unknown     3499
Name: Ease of Online booking, dtype: int64

-------------------------------------------------
Food and drink
4        21541
3        20056
5        19981
2        19711
1         9168
Great     3499
0           92
Name: Food and drink, dtype: int64

-------------------------------------------------
Inflight entertainment
4.0     27540
5.0     23742
3.0     17516
2.0     16139
1.0      9559
10.0     1491
0.0        13
Name: Inflight entertainment, dtype: int64

-------------------------------------------------
Baggage handling
4    33711
5    24724
3    18421
2    10371
1     6560
A     2213
Name: Baggage handling, dtype: int64

-------------------------------------------------
Cleanliness
4.0    26276
3.0    23991
5.0    21950
2.0    15514
1.0     8258
0.0       11
Name: Cleanliness, dtype: int64

-------------------------------------------------
Departure Delay in Minutes
 0.0      52410
-2.0       3499
 10.0      2927
 1.0       2495
 2.0       1926
          ...
 566.0        1
 359.0        1
 295.0        1
 559.0        1
 853.0        1
Name: Departure Delay in Minutes, Length: 426, dtype: int64

-------------------------------------------------
Arrival Delay in Minutes
 0.0      50800
-45.0      2213
 1.0       1838
 2.0       1687
 3.0       1642
          ...
 342.0        1
 427.0        1
 448.0        1
 924.0        1
 823.0        1
Name: Arrival Delay in Minutes, Length: 433, dtype: int64

-------------------------------------------------
Satisfaction
dissatisfied    46529
satisfied       40418
neutral          8008
Dissatisfied     7795
Name: Satisfaction, dtype: int64

-------------------------------------------------

### 7. The number of fully duplicated data rows.

In [12]:
df_Business.duplicated()

0         False
2         False
3         False
4         False
5         False
          ...
104905    False
104906    False
104907    False
104908    False
104909    False
Length: 50000, dtype: bool

In [13]:
# Selecting duplicate based on all columns
duplicate = df_Business[df_Business.duplicated()]
  
print("Duplicate Rows :")
duplicate

Duplicate Rows :

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Food and drink,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
153,F,Disloyal Customer,25.0,Business,Business,67.0,1.0,0.0,1,3,3.0,4,3.0,0.0,0.0,NaN
349,NaN,NaN,NaN,NaN,Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dissatisfied
369,NaN,NaN,NaN,NaN,Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dissatisfied
705,NaN,NaN,NaN,NaN,Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dissatisfied
1159,Female,Loyal Customer,49.0,Business travel,Business,101.0,1.0,4.0,4,3,2.0,1,3.0,11.0,14.0,Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104737,Female,Loyal Customer,37.0,Business travel,Business,3987.0,3.0,1.0,3,5,5.0,5,5.0,10.0,23.0,satisfied
104768,NaN,NaN,NaN,NaN,Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dissatisfied
104789,Male,Loyal Customer,24.0,Business,Business,3993.0,2.0,5.0,5,2,2.0,A,2.0,23.0,-45.0,dissatisfied
104825,M,Loyal Customer,30.0,Business travel,Business,NaN,3.0,3.0,NaN,NaN,4.0,1,4.0,10.0,NaN,satisfied
104840,M,Loyal Customer,30.0,Business travel,Business,NaN,4.0,4.0,NaN,NaN,4.0,4,4.0,10.0,NaN,satisfied

# Summary

### Based on the information that you collected, provide a list of the issues that the data contains as an annotation.

There are inconsistencies in how data is entered in each column, for example:
> The "Gender" column includes "Female", "Male", "F", and "M". Remapping F to Female and M to Male (or vise-versa) would fix this issue. <br>

> The "Customer Type" column includes "Loyal Customer", "Disloyal Customer", "Disloyal", and "Loyal". Remapping values to just Loyal/Disloyal is needed (as well as correct inconsistent capitalization). <br>

> The "Type of Travel" column has both  "Business travel", and "Business". These need to be consolidated and have consistent capitalization. <br>

> There are many flights where the "age" is 0. It is unlikely toddlers are flying business class, and should either be confirmed as correct ages, or replaced with NaN (if the individual did not wish to disclose their age) <br>

> The "Flight Distance" column includes negative values, which is not possible and is likely an error to be removed (or confirm if the value should be positive). <br>

> "Baggage handling" has a number of rows with the value "A" instead of numeric ratings. These should be dropped, remapped, or made to be nulls.

> "Food and drink" have the value "Great" in some rows, where they should be integers.

> "Ease of Online booking" has "Unknown" where there should be integers.


Some columns ("Baggage handling", "Ease of Online booking", and "Food and drink") and entered as "object" data types, rather than float64, which appears to be how the other columns with similar information (ratings on how that metric is scored) are contained within the dataframe. 

The lack of mandatory fields leaves many rows with large amounts of nulls, with only "Class" as an available value. It becomes difficult to conduct analysis with large amounts of N/As, and having more consistency with mandatory fields would be of value in analysis.

## Additional observations

> In the intial dataset, there were 104,910 rows and 16 columns.


> We created a different dataframe 'df_Business' which contained 50,000 rows and 16 columns.


> We also observed unique values in each column.


> There are missing values in every column.


> We also have 3,064 duplicate rows.

# Data Cleansing

## 2. Conduct Data Cleansing:

Implement the following tasks: 
 1. Drop the Class column from the created Business Class passenger satisfaction survey (“df_Business”).
 2. Rename “df_Business” columns by making all the columns’ names in lowercase, and if the column name has whitespace, replace it with an underscore. (For example: “Customer Type” will be renamed to “customer_type”).
 3. Modify improperly formatted data and handle bad data.
 4. Handle the missing values (You should have zero missing values in your cleaned dataset).
 5. Remove the fully duplicated observations.
 6. Fix the columns datatypes.

### 1. Drop the Class column from the created Business Class passenger satisfaction survey (“df_Business”).

In [18]:
# Dropping columns
df_Business.drop(['Class'], axis=1, inplace=True)
df_Business

,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Food and drink,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
0,Male,Loyal Customer,69.0,Personal Travel,-5421.0,3.0,2.0,3,5,1.0,1,3.0,14.0,0.0,Dissatisfied
2,Male,Disloyal Customer,41.0,Business travel,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
3,Male,Loyal Customer,52.0,Business travel,0.0,2.0,4.0,4,1,2.0,2,4.0,0.0,6.0,Dissatisfied
4,Female,Disloyal Customer,21.0,Business travel,0.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
5,Female,Loyal Customer,57.0,Business travel,0.0,3.0,4.0,4,5,2.0,3,2.0,0.0,0.0,Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104905,Male,Loyal Customer,45.0,Business travel,3305.0,2.0,2.0,2,3,4.0,4,3.0,8.0,0.0,satisfied
104906,Female,Loyal Customer,35.0,Business travel,337.0,5.0,5.0,5,2,4.0,4,5.0,54.0,40.0,satisfied
104907,Male,Loyal Customer,47.0,Business travel,3496.0,2.0,2.0,2,2,5.0,5,4.0,0.0,2.0,satisfied
104908,Male,Loyal Customer,42.0,Business travel,3605.0,4.0,4.0,4,3,4.0,4,3.0,0.0,0.0,satisfied
104909,Female,disloyal,0.0,Business travel,862.0,5.0,5.0,5,5,5.0,1,5.0,9.0,5.0,neutral

### 2. Rename “df_Business” columns by making all the columns’ names in lowercase, and if the column name has whitespace, replace it with an underscore. (For example: “Customer Type” will be renamed to “customer_type”).

In [19]:
df_Business.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Flight Distance',
       'Inflight wifi service', 'Departure/Arrival time convenient',
       'Ease of Online booking', 'Food and drink', 'Inflight entertainment',
       'Baggage handling', 'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes', 'Satisfaction'],
      dtype='object')

In [20]:
df_Business.rename(columns = lambda x: x.lower().replace(' ','_'), inplace= True)
df_Business.columns

Index(['gender', 'customer_type', 'age', 'type_of_travel', 'flight_distance',
       'inflight_wifi_service', 'departure/arrival_time_convenient',
       'ease_of_online_booking', 'food_and_drink', 'inflight_entertainment',
       'baggage_handling', 'cleanliness', 'departure_delay_in_minutes',
       'arrival_delay_in_minutes', 'satisfaction'],
      dtype='object')

In [21]:
df_Business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 104909
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             48239 non-null  object
 1   customer_type                      48239 non-null  object
 2   age                                47373 non-null  float64
 3   type_of_travel                     48239 non-null  object
 4   flight_distance                    46604 non-null  float64
 5   inflight_wifi_service              48239 non-null  float64
 6   departure/arrival_time_convenient  48239 non-null  float64
 7   ease_of_online_booking             42705 non-null  object
 8   food_and_drink                     42705 non-null  object
 9   inflight_entertainment             43649 non-null  float64
 10  baggage_handling                   43649 non-null  object
 11  cleanliness                        43649 non-null  float64
 12  departure_delay_in_minutes         43649 non-null  float64
 13  arrival_delay_in_minutes           42098 non-null  float64
 14  satisfaction                       47840 non-null  object
dtypes: float64(8), object(7)
memory usage: 6.1+ MB

### 3. Modify improperly formatted data and handle bad data.

In [22]:
# Replacing specific values 

df_Business.replace({'gender': {'F': 'Female'}}, inplace=True)
df_Business.replace({'gender': {'M': 'Male'}}, inplace=True)
df_Business.replace({'customer_type': {'disloyal': 'Disloyal Customer'}}, inplace=True)
df_Business.replace({'customer_type': {'Loyal': 'Loyal Customer'}}, inplace=True)
df_Business.replace({'type_of_travel': {'Business': 'Business travel'}}, inplace=True)
df_Business.replace({'satisfaction': {'dissatisfied': 'Dissatisfied'}}, inplace=True)
df_Business.replace({'satisfaction': {'satisfied': 'Satisfied'}}, inplace=True)
df_Business.replace({'satisfaction': {'neutral': 'Neutral'}}, inplace=True)

In [23]:
df_Business

,gender,customer_type,age,type_of_travel,flight_distance,inflight_wifi_service,departure/arrival_time_convenient,ease_of_online_booking,food_and_drink,inflight_entertainment,baggage_handling,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,Male,Loyal Customer,69.0,Personal Travel,-5421.0,3.0,2.0,3,5,1.0,1,3.0,14.0,0.0,Dissatisfied
2,Male,Disloyal Customer,41.0,Business travel,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neutral
3,Male,Loyal Customer,52.0,Business travel,0.0,2.0,4.0,4,1,2.0,2,4.0,0.0,6.0,Dissatisfied
4,Female,Disloyal Customer,21.0,Business travel,0.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neutral
5,Female,Loyal Customer,57.0,Business travel,0.0,3.0,4.0,4,5,2.0,3,2.0,0.0,0.0,Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104905,Male,Loyal Customer,45.0,Business travel,3305.0,2.0,2.0,2,3,4.0,4,3.0,8.0,0.0,Satisfied
104906,Female,Loyal Customer,35.0,Business travel,337.0,5.0,5.0,5,2,4.0,4,5.0,54.0,40.0,Satisfied
104907,Male,Loyal Customer,47.0,Business travel,3496.0,2.0,2.0,2,2,5.0,5,4.0,0.0,2.0,Satisfied
104908,Male,Loyal Customer,42.0,Business travel,3605.0,4.0,4.0,4,3,4.0,4,3.0,0.0,0.0,Satisfied
104909,Female,Disloyal Customer,0.0,Business travel,862.0,5.0,5.0,5,5,5.0,1,5.0,9.0,5.0,Neutral

In [24]:
# Dropping rows where there is bad data in numeric columns (outliers, unknowns, etc.)

df_Business.drop(df_Business[df_Business['ease_of_online_booking'] == 'Unknown'].index, inplace = True)
df_Business.drop(df_Business[df_Business['inflight_entertainment'] == 10].index, inplace = True)
df_Business.drop(df_Business[df_Business['baggage_handling'] == 'A'].index, inplace = True)
df_Business.drop(df_Business[df_Business['satisfaction'] == 0].index, inplace = True)
df_Business.drop(df_Business[df_Business['age'] >= 180].index, inplace = True)
df_Business.drop(df_Business[df_Business['age'] <= 0].index, inplace = True)
df_Business.drop(df_Business[df_Business['flight_distance'] <= 0].index, inplace = True)

df_Business.shape

(47676, 15)

In [25]:
Column_Values = df_Business.columns

for col in Column_Values:
    print(col)
    
    unique_values = df_Business[col].unique()
    print(unique_values, '\n-------------------------------------------\n\n')

gender
['Female' 'Male' nan]
-------------------------------------------


customer_type
['Loyal Customer' 'Disloyal Customer' nan]
-------------------------------------------


age
[39. 33. 55. 59. 53. 56. 47. 54. 57. 25. 51. 60. 27. 43. 69. 19. 63. 50.
 nan 38. 46. 85. 45. 41. 26. 42. 30. 22. 52. 17. 48. 40. 16. 32. 35. 44.
 49. 65. 67. 66. 64.  7. 21. 37. 36. 15. 62. 34. 68. 70. 58. 11. 24. 74.
 13. 80. 75. 61. 71. 12. 73. 72. 20. 79. 10. 18. 76. 14. 77.  8.  9. 78.]
-------------------------------------------


type_of_travel
['Business travel' 'Personal Travel' nan]
-------------------------------------------


flight_distance
[5.600e+01 6.700e+01 7.300e+01 ... 4.983e+03 2.820e+06 9.000e+06]
-------------------------------------------


inflight_wifi_service
[ 2.  4.  5.  3.  1.  0. nan]
-------------------------------------------


departure/arrival_time_convenient
[ 5.  3.  4.  2.  1.  0. nan]
-------------------------------------------


ease_of_online_booking
['5' '4' nan '0' '2' '3' '1']
-------------------------------------------


food_and_drink
['5' '1' nan '3' '4' '2' '0']
-------------------------------------------


inflight_entertainment
[ 2.  4.  5. nan  3.  1.  0.]
-------------------------------------------


baggage_handling
['5' '4' nan '1' '2' '3']
-------------------------------------------


cleanliness
[ 5.  2. nan  3.  4.  0.]
-------------------------------------------


departure_delay_in_minutes
[0.000e+00 1.000e+01       nan 3.600e+01 9.000e+00 3.500e+01 7.000e+00
 6.100e+01 2.000e+01 1.160e+02 2.600e+01 1.300e+01 5.000e+01 7.100e+01
 2.700e+01 2.500e+01 6.000e+00 1.500e+01 3.200e+01 1.130e+02 1.000e+00
 1.100e+01 3.000e+00 4.600e+01 4.200e+01 2.100e+01 4.300e+01 1.140e+02
 3.400e+01 2.300e+01 8.000e+00 5.000e+00 4.900e+01 7.600e+01 3.700e+01
 2.900e+01 1.340e+02 2.800e+01 1.900e+01 5.700e+01 6.400e+01 2.000e+00
 4.550e+02 1.230e+02 1.220e+02 4.000e+00 1.010e+02 3.100e+01 3.900e+01
 1.400e+02 8.900e+01 4.000e+01 1.800e+01 2.400e+01 2.200e+01 1.110e+02
 1.630e+02 9.300e+01 1.600e+01 3.000e+01 1.400e+01 4.700e+01 6.300e+01
 1.700e+01 8.400e+01 6.500e+01 4.500e+01 6.000e+01 7.700e+01 1.200e+01
 3.800e+01 1.610e+02 8.000e+01 7.400e+01 1.560e+02 3.300e+01 9.500e+01
 8.800e+01 1.260e+02 1.950e+02 9.400e+01 4.800e+01 1.060e+02 2.490e+02
 7.800e+01 9.600e+01 7.200e+01 1.040e+02 1.070e+02 1.720e+02 1.360e+02
 4.400e+01 9.800e+01 8.700e+01 9.100e+01 3.300e+02 5.800e+01 7.000e+01
 1.250e+02 1.050e+02 1.350e+02 3.240e+02 6.800e+01 5.300e+01 1.200e+02
 5.500e+01 5.900e+01 9.700e+01 1.490e+02 5.200e+01 1.180e+02 5.600e+01
 8.200e+01 1.080e+02 1.520e+02 6.200e+01 2.100e+02 1.570e+02 5.400e+01
 1.470e+02 8.300e+01 1.380e+02 1.420e+02 1.280e+02 4.100e+01 1.240e+02
 2.000e+02 2.210e+02 8.100e+01 8.500e+01 1.100e+02 7.300e+01 2.620e+02
 6.600e+01 2.650e+02 8.600e+01 1.670e+02 5.100e+01 1.580e+02 2.060e+02
 1.210e+02 2.420e+02 1.990e+02 6.900e+01 6.700e+01 2.090e+02 1.410e+02
 1.620e+02 9.900e+01 7.500e+01 1.700e+02 1.830e+02 1.480e+02 4.020e+02
 1.800e+02 2.530e+02 1.510e+02 1.680e+02 1.270e+02 2.520e+02 1.120e+02
 3.280e+02 1.840e+02 1.910e+02 7.900e+01 2.040e+02 2.550e+02 2.820e+02
 1.170e+02 2.400e+02 1.430e+02 1.590e+02 1.870e+02 1.320e+02 1.000e+02
 1.640e+02 2.380e+02 2.980e+02 1.850e+02 2.760e+02 9.200e+01 1.710e+02
 1.290e+02 1.190e+02 2.010e+02 1.740e+02 6.920e+02 1.460e+02 1.780e+02
 1.150e+02 1.540e+02 9.000e+01 1.530e+02 1.370e+02 1.970e+02 1.750e+02
 1.300e+02 1.440e+02 1.960e+02 2.580e+02 1.020e+02 2.030e+02 3.590e+02
 2.440e+02 1.900e+02 1.090e+02 3.260e+02 3.210e+02 1.500e+02 3.510e+02
 2.450e+02 2.720e+02 2.110e+02 2.160e+02 1.810e+02 3.470e+02 1.310e+02
 1.450e+02 3.830e+02 9.210e+02 1.600e+02 1.660e+02 1.860e+02 1.650e+02
 3.360e+02 1.930e+02 1.730e+02 4.300e+02 2.350e+02 1.820e+02 1.790e+02
 1.880e+02 2.740e+02 4.010e+02 1.940e+02 3.530e+02 3.030e+02 2.970e+02
 1.030e+02 2.410e+02 1.920e+02 2.140e+02 2.330e+02 2.070e+02 1.390e+02
 4.350e+02 1.330e+02 6.100e+02 2.790e+02 3.100e+02 2.080e+02 3.060e+02
 2.240e+02 2.480e+02 1.550e+02 2.590e+02 2.660e+02 3.380e+02 2.670e+02
 2.910e+02 2.180e+02 3.180e+02 2.150e+02 2.710e+02 2.930e+02 2.130e+02
 2.690e+02 2.850e+02 2.050e+02 3.090e+02 4.520e+02 2.320e+02 4.230e+02
 3.940e+02 2.920e+02 1.760e+02 2.230e+02 2.860e+02 2.750e+02 3.330e+02
 1.690e+02 2.460e+02 2.730e+02 2.390e+02 4.800e+02 3.810e+02 3.020e+02
 8.590e+02 2.260e+02 2.900e+02 5.030e+02 1.890e+02 1.770e+02 3.420e+02
 1.980e+02 3.070e+02 2.020e+02 2.640e+02 1.017e+03 4.650e+02 2.810e+02
 4.630e+02 2.250e+02 9.330e+02 2.120e+02 3.170e+02 4.100e+02 4.070e+02
 2.940e+02 3.570e+02 2.870e+02 9.300e+02 3.040e+02 3.480e+02 3.400e+02
 2.770e+02 4.290e+02 2.500e+02 2.190e+02 3.190e+02 3.120e+02 3.130e+02
 3.880e+02 2.680e+02 4.150e+02 4.540e+02 3.920e+02 1.305e+03 2.290e+02
 2.200e+02 2.430e+02 4.500e+02 3.500e+02 2.220e+02 3.340e+02 2.990e+02
 2.170e+02 3.080e+02 3.440e+02 3.200e+02 5.010e+02 4.380e+02 3.520e+02
 3.580e+02 2.560e+02 2.600e+02 3.410e+02 3.310e+02 2.890e+02 3.710e+02
 2.280e+02 8.530e+02]
-------------------------------------------


arrival_delay_in_minutes
[0.000e+00 1.200e+01       nan 1.600e+01 6.000e+00 8.000e+00 4.900e+01
 6.500e+01 1.000e+01 1.070e+02 1.030e+02 9.000e+00 1.800e+01 4.300e+01
 6.600e+01 2.500e+01 1.300e+01 2.400e+01 1.050e+02 1.400e+01 7.000e+00
 5.700e+01 2.900e+01 3.900e+01 1.200e+02 6.300e+01 2.700e+01 3.000e+00
 2.200e+01 2.800e+01 1.000e+00 5.900e+01 2.000e+00 7.000e+01 4.000e+00
 3.000e+01 1.900e+01 1.500e+01 1.290e+02 4.400e+01 5.200e+01 2.100e+02
 1.240e+02 1.190e+02 5.000e+00 4.200e+01 2.100e+01 3.300e+01 9.800e+01
 3.400e+01 3.100e+01 4.800e+01 1.560e+02 8.400e+01 2.000e+01 4.600e+01
 5.300e+01 1.210e+02 1.100e+02 1.700e+01 1.570e+02 3.600e+01 8.700e+01
 3.800e+01 4.000e+01 9.900e+01 3.200e+01 5.500e+01 6.900e+01 4.100e+01
 8.300e+01 6.700e+01 9.600e+01 6.000e+01 4.500e+01 7.800e+01 2.600e+01
 2.300e+01 3.700e+01 1.710e+02 7.100e+01 8.100e+01 1.680e+02 8.000e+01
 3.500e+01 8.900e+01 1.100e+01 8.500e+01 2.000e+02 7.300e+01 9.300e+01
 6.400e+01 1.040e+02 5.000e+01 2.480e+02 1.220e+02 1.170e+02 9.700e+01
 1.630e+02 1.350e+02 1.460e+02 1.400e+02 6.800e+01 7.200e+01 1.280e+02
 3.480e+02 7.700e+01 1.340e+02 9.400e+01 1.330e+02 3.230e+02 1.150e+02
 7.400e+01 5.800e+01 9.100e+01 1.770e+02 1.250e+02 1.380e+02 2.060e+02
 1.000e+02 5.400e+01 2.590e+02 7.500e+01 1.610e+02 1.370e+02 1.310e+02
 2.330e+02 2.170e+02 1.300e+02 1.420e+02 1.010e+02 1.540e+02 2.560e+02
 1.120e+02 4.700e+01 6.200e+01 2.600e+02 1.940e+02 2.090e+02 1.180e+02
 9.200e+01 2.280e+02 7.900e+01 1.500e+02 1.880e+02 7.600e+01 1.530e+02
 1.390e+02 9.000e+01 2.460e+02 9.500e+01 6.100e+01 2.030e+02 1.430e+02
 1.580e+02 1.740e+02 1.870e+02 5.600e+01 5.100e+01 3.890e+02 1.060e+02
 2.570e+02 1.690e+02 2.240e+02 1.950e+02 2.750e+02 8.800e+01 1.090e+02
 3.300e+02 1.800e+02 1.730e+02 8.600e+01 1.130e+02 1.360e+02 2.020e+02
 2.550e+02 3.050e+02 2.250e+02 8.200e+01 1.480e+02 1.160e+02 1.860e+02
 1.260e+02 2.040e+02 2.870e+02 1.810e+02 1.470e+02 1.760e+02 2.930e+02
 2.080e+02 1.590e+02 1.270e+02 7.020e+02 1.850e+02 1.670e+02 1.020e+02
 1.230e+02 1.650e+02 1.820e+02 2.950e+02 1.520e+02 1.910e+02 1.640e+02
 2.180e+02 2.620e+02 2.680e+02 1.080e+02 3.790e+02 1.930e+02 2.400e+02
 3.660e+02 1.920e+02 1.720e+02 3.600e+02 3.360e+02 2.980e+02 2.300e+02
 2.670e+02 1.490e+02 1.140e+02 1.320e+02 1.410e+02 1.830e+02 2.310e+02
 3.590e+02 2.290e+02 3.860e+02 9.240e+02 2.130e+02 2.660e+02 1.450e+02
 1.960e+02 2.160e+02 1.510e+02 2.350e+02 3.270e+02 1.780e+02 1.600e+02
 4.380e+02 2.430e+02 1.700e+02 2.630e+02 4.040e+02 2.840e+02 1.980e+02
 3.020e+02 2.900e+02 1.840e+02 2.270e+02 1.620e+02 2.230e+02 4.700e+02
 5.930e+02 3.090e+02 2.990e+02 3.070e+02 2.610e+02 2.190e+02 3.040e+02
 1.990e+02 2.920e+02 1.750e+02 3.010e+02 2.540e+02 1.110e+02 2.580e+02
 2.530e+02 2.700e+02 2.650e+02 2.850e+02 2.500e+02 4.440e+02 4.030e+02
 4.070e+02 3.340e+02 3.310e+02 2.470e+02 2.640e+02 2.340e+02 2.120e+02
 2.210e+02 2.770e+02 3.800e+02 1.890e+02 2.510e+02 3.080e+02 2.380e+02
 2.520e+02 4.710e+02 4.360e+02 3.190e+02 8.600e+02 2.780e+02 3.170e+02
 5.070e+02 1.660e+02 3.850e+02 2.050e+02 2.220e+02 1.011e+03 4.930e+02
 1.550e+02 5.030e+02 2.810e+02 3.370e+02 9.200e+02 1.440e+02 1.790e+02
 3.240e+02 2.370e+02 2.720e+02 4.350e+02 4.090e+02 2.830e+02 3.620e+02
 2.890e+02 9.520e+02 2.880e+02 1.900e+02 3.000e+02 3.210e+02 3.410e+02
 2.010e+02 3.920e+02 4.170e+02 2.710e+02 3.200e+02 2.360e+02 4.100e+02
 5.020e+02 3.810e+02 1.280e+03 2.110e+02 2.970e+02 2.440e+02 3.880e+02
 2.420e+02 3.180e+02 3.700e+02 2.070e+02 3.830e+02 3.130e+02 2.260e+02
 1.970e+02 3.930e+02 5.000e+02 3.220e+02 3.350e+02 3.570e+02 2.740e+02
 2.140e+02 2.200e+02 2.450e+02 2.790e+02 2.960e+02 3.390e+02 3.160e+02
 8.230e+02]
-------------------------------------------


satisfaction
['Satisfied' 'Neutral' 'Dissatisfied' nan]
-------------------------------------------

### 4. Handle the missing values (You should have zero missing values in your cleaned dataset).

In [26]:
# Removing missing variables from numeric data

df_Business.dropna(subset=['age', 'flight_distance', 'inflight_wifi_service','departure/arrival_time_convenient', 'ease_of_online_booking', 'food_and_drink', 'inflight_entertainment', 'baggage_handling', 'cleanliness', 'departure_delay_in_minutes', 'arrival_delay_in_minutes'], inplace=True)
df_Business.shape

(39559, 15)

In [27]:
# Replacing missing variables in the 'Satisfaction' column with 'Unknown'

df_Business['satisfaction'].fillna('Unknown', inplace=True)

In [28]:
# Number of missing values in each coulmn
df_Business.isnull().sum()

gender                               0
customer_type                        0
age                                  0
type_of_travel                       0
flight_distance                      0
inflight_wifi_service                0
departure/arrival_time_convenient    0
ease_of_online_booking               0
food_and_drink                       0
inflight_entertainment               0
baggage_handling                     0
cleanliness                          0
departure_delay_in_minutes           0
arrival_delay_in_minutes             0
satisfaction                         0
dtype: int64

### 5. Remove the fully duplicated observations.

In [29]:
# Print the number of duplicate observations
df_Business.duplicated().sum()

423

In [30]:
# Drop Duplicate Observations
df_Business.drop_duplicates(inplace=True)

In [31]:
print("Re-checking the number of duplicate observations:")
df_Business.duplicated().sum()

Re-checking the number of duplicate observations:

0

### 6. Fix the columns datatypes.

In [34]:
# Converting numeric data types to integers

df_Business = df_Business.astype({'age': 'int64','flight_distance': 'int64', 'inflight_wifi_service': 'int64', 'ease_of_online_booking': 'int64', 'food_and_drink': 'int64','inflight_entertainment': 'int64', 'baggage_handling': 'int64', 'cleanliness': 'int64', 'departure_delay_in_minutes': 'int64', 'arrival_delay_in_minutes': 'int64','departure/arrival_time_convenient': 'int64'})

df_Business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39136 entries, 15 to 104908
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             39136 non-null  object
 1   customer_type                      39136 non-null  object
 2   age                                39136 non-null  int64
 3   type_of_travel                     39136 non-null  object
 4   flight_distance                    39136 non-null  int64
 5   inflight_wifi_service              39136 non-null  int64
 6   departure/arrival_time_convenient  39136 non-null  int64
 7   ease_of_online_booking             39136 non-null  int64
 8   food_and_drink                     39136 non-null  int64
 9   inflight_entertainment             39136 non-null  int64
 10  baggage_handling                   39136 non-null  int64
 11  cleanliness                        39136 non-null  int64
 12  departure_delay_in_minutes         39136 non-null  int64
 13  arrival_delay_in_minutes           39136 non-null  int64
 14  satisfaction                       39136 non-null  object
dtypes: int64(11), object(4)
memory usage: 4.8+ MB

In [35]:
# Reset the index of the DataFrame
df_Business.reset_index(drop=True, inplace = True)
df_Business

,gender,customer_type,age,type_of_travel,flight_distance,inflight_wifi_service,departure/arrival_time_convenient,ease_of_online_booking,food_and_drink,inflight_entertainment,baggage_handling,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,Female,Loyal Customer,39,Business travel,56,2,5,5,5,2,5,5,0,0,Satisfied
1,Female,Loyal Customer,33,Business travel,56,4,5,4,1,4,4,2,0,0,Satisfied
2,Male,Loyal Customer,55,Business travel,67,5,5,5,1,5,5,2,10,12,Satisfied
3,Female,Loyal Customer,56,Business travel,67,1,4,4,1,3,1,3,0,0,Dissatisfied
4,Male,Loyal Customer,47,Business travel,67,5,5,5,3,4,5,2,0,0,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39131,Female,Loyal Customer,49,Business travel,9000000,4,4,2,3,4,4,3,0,0,Satisfied
39132,Male,Loyal Customer,45,Business travel,3305,2,2,2,3,4,4,3,8,0,Satisfied
39133,Female,Loyal Customer,35,Business travel,337,5,5,5,2,4,4,5,54,40,Satisfied
39134,Male,Loyal Customer,47,Business travel,3496,2,2,2,2,5,5,4,0,2,Satisfied
39135,Male,Loyal Customer,42,Business travel,3605,4,4,4,3,4,4,3,0,0,Satisfied

In [36]:
# Sorting column unique values
Age_uniques = df_Business['age'].unique()
sorted(Age_uniques)

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 19,
 21,
 22,
 25,
 26,
 27,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 85]

In [37]:
# for each column
cols = df_Business.columns
for col in cols:
    print(col)

    # get a list of unique values
    unique = df_Business[col].unique()
    print(sorted(unique), '\n*************************************\n\n')

gender
['Female', 'Male']
*************************************


customer_type
['Disloyal Customer', 'Loyal Customer']
*************************************


age
[11, 12, 13, 14, 15, 16, 17, 19, 21, 22, 25, 26, 27, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 85]
*************************************


type_of_travel
['Business travel', 'Personal Travel']
*************************************


flight_distance

# Export the cleaned dataset to CSV file.

In [38]:
# Exporting data into csv file
df_Business.to_csv("Project_2_RothEagle_Group12.csv")

# Compare the Data Characteristics Before and After Data Cleansing.

### This is the data frame (df_Business) after data cleansing. 
##### You will observe these changes:
 
> In gender: replaced “F” with “Female” and “M” with “Male”

> In “Customer Type” replaced “disloyal” with “Disloyal Customer” and “Loyal” with “Loyal Customer”

> Age: dropped nan, removed outliers '180' and 185'

> Type of travel: replaced “Business” with “Business travel”,

> Inflight wifi service: dropped nan

> Flight distance: removed outliers '-5421' and '0'

> Departure time: replace dropped nan

> Ease of online booking: removed “Unknown”, removed nan

> Food and drink: removed “Great”

> Inflight entertainment: removed “10” and removed “nan”

> Baggage handling: removed “nan” and removed “A”

> Cleanliness: removed nan

> Departure delay: removed nan

> Arrival delay: removed nan

> Satisfaction: changed “dissatisfied” to “Dissatisfied” and changed “satisfied” to “Satisfied”

# * Before Cleansing *

### Columns names and datatype

In [14]:
df_Business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 104909
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             48239 non-null  object
 1   Customer Type                      48239 non-null  object
 2   Age                                47373 non-null  float64
 3   Type of Travel                     48239 non-null  object
 4   Class                              50000 non-null  object
 5   Flight Distance                    46604 non-null  float64
 6   Inflight wifi service              48239 non-null  float64
 7   Departure/Arrival time convenient  48239 non-null  float64
 8   Ease of Online booking             42705 non-null  object
 9   Food and drink                     42705 non-null  object
 10  Inflight entertainment             43649 non-null  float64
 11  Baggage handling                   43649 non-null  object
 12  Cleanliness                        43649 non-null  float64
 13  Departure Delay in Minutes         43649 non-null  float64
 14  Arrival Delay in Minutes           42098 non-null  float64
 15  Satisfaction                       47840 non-null  object
dtypes: float64(8), object(8)
memory usage: 6.5+ MB

#### Each Column name and Dataype:

|  Column                            | Dtype  
|  :------                           |   -----:
|  Gender                            |   object  
|  Customer Type                     |   object 
|  Age                               |   float64 
|  Type of Travel                    |   object 
|  Class                             |   object 
|  Flight Distance                   |   float64
|  Inflight wifi service             |   float64 
|  Departure/Arrival time convenient |   float64  
|  Ease of Online booking            |   object 
|  Food and drink                    |   object  
|  Inflight entertainment            |   float64 
|  Baggage handling                  |   object  
|  Cleanliness                       |   float64 
|  Departure Delay in Minutes        |   float64 
|  Arrival Delay in Minutes          |   float64  
|  Satisfaction                      |   object

### Unique Values for each Column

In [15]:
df_Business.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Food and drink', 'Inflight entertainment', 'Baggage handling',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'Satisfaction'],
      dtype='object')

In [16]:
cols = df_Business.columns

# for each column
for col in cols:
    print(col)

    # get a list of unique values
    unique = df_Business[col].unique()
    print(unique, '\n---------------------------------------\n\n')

Gender
['Male' 'Female' 'F' 'M' nan]
---------------------------------------


Customer Type
['Loyal Customer' 'Disloyal Customer' nan 'disloyal' 'Loyal']
---------------------------------------


Age
[ 69.  41.  52.  21.  57.  45.  39.  33.  10.  55.  59.  53.  56.  47.
  54.  25.  51.  60.  27.  43.  20.  19.  63.  50.  nan  38.  46.  85.
  26.  42.  30.  24.  22.  17.  48.  40.  16.  32.  35.  44.  49.  65.
  67.  66.  64.   7.  37.  36.  15.  62.  34.   0.  68.  70.  58.  11.
  74.  13.  80.  75.   9.  61.  71.  12.  73.  72.  18.  79.   8.  76.
  14.  77.  78. 180. 185.]
---------------------------------------


Type of Travel
['Personal Travel' 'Business travel' 'Business' nan]
---------------------------------------


Class
['Business']
---------------------------------------


Flight Distance
[-5.421e+03  0.000e+00  5.600e+01 ...  4.983e+03  2.820e+06  9.000e+06]
---------------------------------------


Inflight wifi service
[ 3.  1.  2.  4.  0.  5. nan]
---------------------------------------


Departure/Arrival time convenient
[ 2.  1.  4.  0.  5.  3. nan]
---------------------------------------


Ease of Online booking
['3' nan '4' '0' '5' 'Unknown' '2' '1']
---------------------------------------


Food and drink
['5' nan '1' '3' 'Great' '4' '2' '0']
---------------------------------------


Inflight entertainment
[ 1. nan  2.  3.  4.  5. 10.  0.]
---------------------------------------


Baggage handling
['1' nan '2' '3' '5' '4' 'A']
---------------------------------------


Cleanliness
[ 3. nan  4.  2.  5.  0.]
---------------------------------------


Departure Delay in Minutes
[ 1.400e+01        nan  0.000e+00 -2.000e+00  1.000e+01  3.600e+01
  9.000e+00  3.500e+01  7.000e+00  1.100e+01  6.100e+01  2.000e+01
  1.160e+02  2.600e+01  1.300e+01  5.000e+01  7.100e+01  2.700e+01
  2.500e+01  6.000e+00  1.500e+01  3.200e+01  1.130e+02  1.000e+00
  3.000e+00  4.600e+01  4.200e+01  2.100e+01  4.300e+01  1.140e+02
  3.400e+01  2.300e+01  8.000e+00  5.000e+00  4.900e+01  7.600e+01
  3.700e+01  2.900e+01  1.340e+02  2.800e+01  1.900e+01  5.700e+01
  6.400e+01  2.000e+00  4.550e+02  1.230e+02  1.220e+02  4.000e+00
  1.010e+02  3.100e+01  3.900e+01  1.400e+02  8.900e+01  4.000e+01
  1.800e+01  2.400e+01  2.200e+01  1.110e+02  1.630e+02  9.300e+01
  1.600e+01  3.000e+01  4.700e+01  6.300e+01  1.700e+01  8.400e+01
  6.500e+01  4.500e+01  6.000e+01  7.700e+01  1.200e+01  3.800e+01
  1.610e+02  8.000e+01  7.400e+01  1.560e+02  3.300e+01  1.050e+02
  9.500e+01  8.800e+01  1.260e+02  1.950e+02  9.400e+01  4.800e+01
  1.060e+02  2.490e+02  7.800e+01  9.600e+01  7.200e+01  1.040e+02
  1.070e+02  1.720e+02  1.360e+02  4.400e+01  9.800e+01  8.700e+01
  9.100e+01  3.300e+02  5.800e+01  7.000e+01  1.250e+02  1.350e+02
  3.240e+02  6.800e+01  5.300e+01  1.200e+02  5.500e+01  5.900e+01
  9.700e+01  1.490e+02  5.200e+01  1.180e+02  5.600e+01  8.200e+01
  1.080e+02  1.520e+02  6.200e+01  2.100e+02  1.570e+02  5.400e+01
  1.470e+02  8.300e+01  1.380e+02  1.420e+02  1.280e+02  4.100e+01
  1.240e+02  2.000e+02  2.210e+02  8.100e+01  8.500e+01  1.100e+02
  7.300e+01  2.620e+02  6.600e+01  2.650e+02  8.600e+01  1.670e+02
  5.100e+01  1.580e+02  2.060e+02  1.680e+02  1.210e+02  2.420e+02
  1.990e+02  6.900e+01  6.700e+01  2.090e+02  1.410e+02  1.620e+02
  9.900e+01  7.500e+01  1.700e+02  1.830e+02  1.480e+02  4.020e+02
  1.800e+02  2.530e+02  1.510e+02  1.270e+02  2.520e+02  1.120e+02
  3.280e+02  1.840e+02  1.910e+02  7.900e+01  2.040e+02  2.550e+02
  2.820e+02  1.170e+02  2.400e+02  1.430e+02  1.590e+02  1.870e+02
  1.320e+02  1.000e+02  1.640e+02  2.380e+02  2.980e+02  1.850e+02
  2.760e+02  9.200e+01  1.710e+02  1.290e+02  1.190e+02  2.010e+02
  1.740e+02  6.920e+02  1.460e+02  1.780e+02  1.150e+02  1.540e+02
  9.000e+01  1.530e+02  1.370e+02  1.970e+02  1.750e+02  1.300e+02
  1.440e+02  1.960e+02  2.580e+02  2.270e+02  1.020e+02  2.030e+02
  3.590e+02  2.440e+02  1.900e+02  1.090e+02  3.260e+02  3.210e+02
  1.500e+02  3.510e+02  2.450e+02  2.720e+02  1.810e+02  2.110e+02
  2.160e+02  3.470e+02  1.310e+02  1.450e+02  3.830e+02  9.210e+02
  1.600e+02  1.660e+02  1.860e+02  1.650e+02  2.050e+02  3.360e+02
  1.930e+02  1.730e+02  4.300e+02  2.350e+02  1.820e+02  1.790e+02
  1.880e+02  2.740e+02  4.010e+02  1.940e+02  3.530e+02  2.190e+02
  3.030e+02  2.970e+02  1.030e+02  2.410e+02  2.120e+02  1.920e+02
  2.140e+02  2.330e+02  2.070e+02  1.390e+02  4.350e+02  1.330e+02
  6.100e+02  2.790e+02  3.100e+02  2.080e+02  3.060e+02  2.240e+02
  3.680e+02  2.480e+02  1.550e+02  2.590e+02  2.660e+02  3.380e+02
  2.670e+02  2.910e+02  2.180e+02  3.180e+02  2.150e+02  2.710e+02
  2.930e+02  2.130e+02  2.690e+02  2.850e+02  3.090e+02  4.520e+02
  3.220e+02  2.320e+02  4.230e+02  3.940e+02  2.920e+02  1.760e+02
  2.230e+02  2.860e+02  2.750e+02  3.330e+02  1.690e+02  2.460e+02
  2.730e+02  2.390e+02  4.800e+02  3.810e+02  3.020e+02  8.590e+02
  2.260e+02  2.900e+02  5.030e+02  1.890e+02  2.360e+02  1.770e+02
  3.420e+02  1.980e+02  3.070e+02  2.020e+02  2.640e+02  3.700e+02
  1.017e+03  4.650e+02  2.810e+02  4.630e+02  2.250e+02  9.330e+02
  3.170e+02  4.100e+02  4.070e+02  2.940e+02  3.570e+02  2.870e+02
  9.300e+02  3.040e+02  3.480e+02  3.400e+02  4.440e+02  2.770e+02
  4.290e+02  2.500e+02  3.190e+02  3.120e+02  3.130e+02  3.880e+02
  2.680e+02  4.150e+02  4.540e+02  3.920e+02  1.305e+03  2.290e+02
  2.200e+02  2.430e+02  4.500e+02  3.500e+02  2.220e+02  3.340e+02
  2.990e+02  2.170e+02  3.080e+02  3.440e+02  3.200e+02  5.010e+02
  4.380e+02  3.520e+02  3.580e+02  2.560e+02  2.600e+02  3.410e+02
  3.310e+02  2.890e+02  3.710e+02  2.280e+02  8.530e+02]
---------------------------------------


Arrival Delay in Minutes
[ 0.000e+00        nan  6.000e+00  2.100e+01  1.200e+01  1.600e+01
  8.000e+00  4.900e+01  3.600e+01  6.500e+01  1.000e+01  1.070e+02
  1.030e+02  9.000e+00  1.800e+01  4.300e+01 -4.500e+01  6.600e+01
  2.500e+01  1.300e+01  2.400e+01  1.050e+02  1.400e+01  7.000e+00
  5.700e+01  2.900e+01  3.900e+01  1.200e+02  6.300e+01  2.700e+01
  3.000e+00  2.200e+01  2.800e+01  1.000e+00  5.900e+01  2.000e+00
  7.000e+01  4.000e+00  3.000e+01  1.900e+01  1.500e+01  1.290e+02
  4.400e+01  5.200e+01  2.100e+02  1.240e+02  1.190e+02  5.000e+00
  4.200e+01  3.300e+01  9.800e+01  3.400e+01  3.100e+01  4.800e+01
  1.560e+02  8.400e+01  2.000e+01  4.600e+01  5.300e+01  1.210e+02
  1.100e+02  1.700e+01  1.570e+02  8.700e+01  3.800e+01  4.000e+01
  9.900e+01  3.200e+01  5.500e+01  6.900e+01  4.100e+01  8.300e+01
  6.700e+01  9.600e+01  6.000e+01  4.500e+01  7.800e+01  2.600e+01
  2.300e+01  3.700e+01  1.710e+02  7.100e+01  8.100e+01  1.680e+02
  8.000e+01  3.500e+01  8.900e+01  1.100e+01  8.500e+01  2.000e+02
  7.300e+01  9.300e+01  6.400e+01  1.040e+02  5.000e+01  2.480e+02
  1.220e+02  1.170e+02  9.700e+01  1.630e+02  1.350e+02  1.460e+02
  1.400e+02  6.800e+01  7.200e+01  1.280e+02  3.480e+02  7.700e+01
  1.340e+02  9.400e+01  1.330e+02  3.230e+02  1.150e+02  7.400e+01
  5.800e+01  9.100e+01  1.770e+02  1.250e+02  1.380e+02  2.060e+02
  1.000e+02  5.400e+01  2.590e+02  7.500e+01  1.610e+02  1.370e+02
  1.310e+02  2.330e+02  2.170e+02  1.300e+02  1.420e+02  1.010e+02
  1.540e+02  2.560e+02  1.120e+02  4.700e+01  6.200e+01  2.600e+02
  1.940e+02  2.090e+02  1.180e+02  9.200e+01  2.280e+02  7.900e+01
  1.500e+02  1.880e+02  7.600e+01  1.530e+02  1.390e+02  9.000e+01
  2.460e+02  9.500e+01  6.100e+01  2.030e+02  1.430e+02  1.580e+02
  1.740e+02  1.870e+02  5.600e+01  5.100e+01  3.890e+02  1.060e+02
  2.570e+02  1.690e+02  2.240e+02  1.950e+02  2.750e+02  8.800e+01
  1.090e+02  3.300e+02  1.800e+02  1.730e+02  8.600e+01  1.130e+02
  1.360e+02  2.020e+02  2.550e+02  3.050e+02  2.250e+02  8.200e+01
  1.480e+02  1.160e+02  1.860e+02  1.260e+02  2.040e+02  2.870e+02
  1.810e+02  1.470e+02  1.760e+02  2.930e+02  2.080e+02  1.590e+02
  1.270e+02  7.020e+02  1.850e+02  1.670e+02  1.020e+02  1.230e+02
  1.650e+02  1.820e+02  2.950e+02  1.520e+02  1.910e+02  1.640e+02
  2.180e+02  2.620e+02  2.680e+02  1.080e+02  3.790e+02  1.930e+02
  2.400e+02  3.660e+02  1.920e+02  1.720e+02  3.600e+02  3.360e+02
  2.980e+02  2.300e+02  2.670e+02  1.490e+02  1.140e+02  1.320e+02
  1.410e+02  1.830e+02  1.960e+02  2.310e+02  3.590e+02  2.290e+02
  3.860e+02  9.240e+02  2.130e+02  2.660e+02  1.450e+02  2.160e+02
  1.510e+02  2.350e+02  3.270e+02  1.780e+02  1.600e+02  2.320e+02
  4.380e+02  2.430e+02  1.700e+02  2.630e+02  4.040e+02  2.840e+02
  2.490e+02  1.980e+02  3.020e+02  2.900e+02  1.840e+02  2.270e+02
  2.120e+02  1.620e+02  2.230e+02  4.700e+02  1.550e+02  5.930e+02
  3.090e+02  2.990e+02  3.070e+02  3.570e+02  2.610e+02  2.190e+02
  3.040e+02  1.990e+02  2.920e+02  1.750e+02  3.010e+02  2.540e+02
  1.110e+02  2.580e+02  2.530e+02  2.700e+02  2.650e+02  2.850e+02
  2.500e+02  4.440e+02  4.030e+02  4.070e+02  3.340e+02  3.310e+02
  2.470e+02  2.640e+02  2.340e+02  2.210e+02  2.770e+02  3.800e+02
  1.890e+02  2.510e+02  3.080e+02  2.380e+02  2.520e+02  4.710e+02
  4.360e+02  3.190e+02  8.600e+02  2.780e+02  3.170e+02  5.070e+02
  1.660e+02  3.850e+02  2.050e+02  2.220e+02  1.011e+03  4.930e+02
  5.030e+02  2.810e+02  3.370e+02  9.200e+02  1.440e+02  1.790e+02
  3.240e+02  2.370e+02  2.720e+02  4.350e+02  4.090e+02  2.830e+02
  3.620e+02  2.890e+02  9.520e+02  2.880e+02  1.900e+02  3.000e+02
  3.210e+02  3.410e+02  2.010e+02  4.340e+02  3.920e+02  4.170e+02
  2.710e+02  3.200e+02  2.360e+02  4.100e+02  5.020e+02  3.810e+02
  1.280e+03  2.110e+02  2.970e+02  2.440e+02  3.880e+02  2.420e+02
  3.180e+02  3.700e+02  2.070e+02  3.830e+02  3.130e+02  2.260e+02
  1.970e+02  3.930e+02  5.000e+02  3.220e+02  3.350e+02  2.740e+02
  2.140e+02  2.200e+02  2.450e+02  2.790e+02  2.960e+02  3.390e+02
  3.160e+02  8.230e+02]
---------------------------------------


Satisfaction
['Dissatisfied' 'neutral' 'satisfied' 'dissatisfied' nan]
---------------------------------------

### Number of Missing Values for each Column

In [17]:
df_Business.isnull().sum()

Gender                               1761
Customer Type                        1761
Age                                  2627
Type of Travel                       1761
Class                                   0
Flight Distance                      3396
Inflight wifi service                1761
Departure/Arrival time convenient    1761
Ease of Online booking               7295
Food and drink                       7295
Inflight entertainment               6351
Baggage handling                     6351
Cleanliness                          6351
Departure Delay in Minutes           6351
Arrival Delay in Minutes             7902
Satisfaction                         2160
dtype: int64

# *** After Cleansing ***

### Columns names and datatype

In [39]:
df_Business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39136 entries, 0 to 39135
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             39136 non-null  object
 1   customer_type                      39136 non-null  object
 2   age                                39136 non-null  int64
 3   type_of_travel                     39136 non-null  object
 4   flight_distance                    39136 non-null  int64
 5   inflight_wifi_service              39136 non-null  int64
 6   departure/arrival_time_convenient  39136 non-null  int64
 7   ease_of_online_booking             39136 non-null  int64
 8   food_and_drink                     39136 non-null  int64
 9   inflight_entertainment             39136 non-null  int64
 10  baggage_handling                   39136 non-null  int64
 11  cleanliness                        39136 non-null  int64
 12  departure_delay_in_minutes         39136 non-null  int64
 13  arrival_delay_in_minutes           39136 non-null  int64
 14  satisfaction                       39136 non-null  object
dtypes: int64(11), object(4)
memory usage: 4.5+ MB

### Unique Values for each Column

In [40]:
cols = df_Business.columns

# for each column
for col in cols:
    print(col)

    # get a list of unique values
    unique = df_Business[col].unique()
    print(unique, '\n---------------------------------------\n\n')

gender
['Female' 'Male']
---------------------------------------


customer_type
['Loyal Customer' 'Disloyal Customer']
---------------------------------------


age
[39 33 55 56 47 54 57 25 51 60 27 69 19 63 50 38 46 85 59 41 26 42 22 52
 17 48 16 53 32 35 45 44 49 65 67 66 64 21 37 36 15 62 40 43 68 70 58 34
 11 74 13 80 75 71 12 61 73 72 79 76 14 77 78]
---------------------------------------


type_of_travel
['Business travel' 'Personal Travel']
---------------------------------------


flight_distance
[     56      67      73 ...    4983 2820000 9000000]
---------------------------------------


inflight_wifi_service
[2 4 5 1 0 3]
---------------------------------------


departure/arrival_time_convenient
[5 4 3 2 1 0]
---------------------------------------


ease_of_online_booking
[5 4 0 2 3 1]
---------------------------------------


food_and_drink
[5 1 3 4 2 0]
---------------------------------------


inflight_entertainment
[2 4 5 3 1 0]
---------------------------------------


baggage_handling
[5 4 1 2 3]
---------------------------------------


cleanliness
[5 2 3 4 0]
---------------------------------------


departure_delay_in_minutes
[   0   10   36    9   35    7   61  116   26   13   50   71   27   25
    6   15   32  113    1   11    3   46   42   21   43  114   34   23
    8   20    5   49   76   37   29  134   28   19   57   64    2  123
  122    4  101   31   39  140   89   40   18   24   22  111  163   93
   16   30   14   47   63   17   84   65   45   60   77   38  161   12
   80   74  156   33   95   88  126  195   94   48  106  249   78   96
   72  104  107  172  136   44   98   87   91  330   58   70  125  105
  135  324   68   53  120   55   59   97  149   52  118   56   82  108
  152   62  210   54  147   83  138  142  128   41  124  200  221   85
  110   73  262   66  265   86  167   51  158  206  121  242  199   69
   67  141  162   99   75  170  183  148  402  180  253  151  168  209
  127  252  112  328  184  191  157   79  204  255  282  117  240   81
  143  159  187  132  100  164  238  298  185  276   92  171  129  119
  201  692  146  178  115  154  174   90  153  137  197  175  130  144
  196  258  102  203  359  244  190  109  326  321  150  351  245  272
  211  216  181  347  131  145  383  921  160  166  186  165  336  193
  173  430  235  182  179  188  274  401  194  303  297  103  241  192
  214  233  207  139  435  133  610  279  310  208  306  224  248  155
  259  266  338  267  291  218  318  215  271  293  213  269  285  205
  309  452  232  423  394  292  176  223  286  275  333  246  273  239
  480  381  302  859  169  226  290  503  189  177  342  198  307  202
  264 1017  465  281  463  225  933  212  317  410  407  294  357  287
  930  304  348  340  277  429  250  319  312  313  388  268  415  454
  392 1305  229  220  243  450  350  222  334  299  217  308  353  219
  344  320  501  438  352  358  256  260  341  331  289  371  228  853]
---------------------------------------


arrival_delay_in_minutes
[   0   12   16    6    8   49   65  107  103    9   18   43   66   25
   13   24  105   14    7   57   29   39  120   63   27    3   22   28
    1   59    2   70    4   30   19   15  129   44   52  210  124  119
    5   42   21   33   98   34   31   48  156   84   20   46   53  121
  110   10   17  157   36   87   38   40   99   32   55   69   41   83
   67   96   60   45   78   26   23   37  171   71   81  168   80   35
   89   11   85  200   73   93   64  104   50  248  122  117   97  163
  135  146  140   68   72  128  348   77  134   94  133  323  115   74
   58   91  177  125  138  206  100   54  259   75  161  137  131  233
  217  130  142  101  154  256  112   47   62  260  194  209  118   92
  228   79  150  188   76  153  139   90  246   95   61  143  158  174
  187   56   51  389  106  257  169  224  195  275   88  109  330  203
  180  173   86  113  136  202  255  305  225   82  148  116  186  126
  204  287  181  147  176  293  208  159  127  702  185  167  102  123
  165  182  295  152  191  164  218  262  268  108  379  193  240  366
  192  172  360  336  298  230  267  149  114  132  141  183  231  359
  229  386  924  213  266  145  196  216  151  235  327  178  160  438
  243  170  263  404  284  198  302  290  184  227  162  223  470  593
  309  299  307  261  219  304  199  292  301  254  111  258  253  270
  265  285  250  444  403  407  334  331  175  247  264  234  212  221
  277  380  189  251  308  238  252  471  436  319  860  278  317  507
  166  385  205  222 1011  493  155  503  281  337  920  144  179  324
  237  272  435  409  283  362  289  952  288  190  300  321  341  201
  392  417  271  320  236  410  502  381 1280  211  297  244  388  242
  318  370  207  383  313  226  197  393  500  322  335  357  274  214
  220  245  279  296  339  316  823]
---------------------------------------


satisfaction
['Satisfied' 'Dissatisfied' 'Unknown']
---------------------------------------

### Number of Missing Values for each Column

In [41]:
df_Business.isnull().sum()

gender                               0
customer_type                        0
age                                  0
type_of_travel                       0
flight_distance                      0
inflight_wifi_service                0
departure/arrival_time_convenient    0
ease_of_online_booking               0
food_and_drink                       0
inflight_entertainment               0
baggage_handling                     0
cleanliness                          0
departure_delay_in_minutes           0
arrival_delay_in_minutes             0
satisfaction                         0
dtype: int64